/*this is a custom media query since the default one was fixing it*/
*{
  outline: 1px solid yellow !important;
}
@media (max-width:991.98px){
  .eventText{
    font-size: 0.75rem;
  }
  .eventTitle{
    font-size: 1.25rem;
  }
}
