* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*these grids wwill be reused in other pages*/
.ThreeColumnGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header header header header header header" 
    "banner banner banner banner banner banner"
    "column1 column1 column2 column2 column3 column3" 
    "footer footer footer footer footer footer";
}

.ThreeRowGrid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "header header header header header header" 
    "banner banner banner banner banner banner"
    "row1 row1 row1 row1 row1 row1"
    "row2 row2 row2 row2 row2 row2"
    "row3 row3 row3 row3 row3 row3"
    "footer footer footer footer footer footer";
}

.TwoRowGrid{ display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "header header header header header header" 
    "banner banner banner banner banner banner"
    "biRow1 biRow1 biRow1 biRow1 biRow1 biRow1"
    "biRow2 biRow2 biRow2 biRow2 biRow2 biRow2"
    "footer footer footer footer footer footer";
}

/*Header will now occupy the header grid and use flex wrap to wrap the menu bar in case it changes to be responsive*/
header {
    grid-area: header;
    background-color: #303030;
}
header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0.75rem;
}

header nav ul li{
    padding: 0.75rem;
    list-style-type: none;
}

header nav ul li a{
    font-size: large;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/*Banner almos the same but use flex in tital in case in the future it iwll come in handy*/
.GridBanner{
    grid-area: banner;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 8rem;
    background-image: url(../img/gym.jpg);
    background-position: 100% 70%;  
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
}
.GridBanner h1{
    font-size: 3rem;
    margin: 0%;
    color: #d84860;
    text-shadow: -2px 0 black;
    font-family: 'Roboto', sans-serif;;
}

/*Columns labeled, probably will make it more general in the future. In the future dont label them middle or right, just use the color, it will be more reausable*/
.GridColumnLeft{
    grid-area:column1;
    display: flex;
    flex-direction: column;
    background-color: #d81848
}
.GridColumnLeft h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.GridColumnLeft .GridColumnLeft-Filler{
    width: 100%;
}
.GridColumnLeft .GridColumnLeft-Filler img{
    width: 100%;
    height: 100%;
}
.GridColumnMiddle{
    grid-area:column2;
    display: flex;
    flex-flow: column;
    background-color: #303030
}
.GridColumnMiddle h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.GridColumnMiddle p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: white solid 3px;
    border-radius: 3rem;
    padding: 1.5rem;
}
.GridColumnMiddle .GridColumnMiddle-Text{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    margin-top: 3rem;
    padding: 2rem;
    color: white;
}
.GridColumnMiddle .GridColumnMiddle-Media{
    padding: 5em 0.25em 0.25em 0.25em;
}
.GridColumnMiddle .GridColumnMiddle-Media iframe{
    width:100%;
}

.GridColumnMiddle .contactForm{
    background-color: #d818488a;
    border:#303030 solid 3px;
    border-radius: 3rem;
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.GridColumnMiddle .contactForm fieldset{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
    border: 0;
    justify-content: flex-start;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}
.GridColumnMiddle .contactForm fieldset div{
    padding-top: 0.5rem;
    font-size: larger;
    font-family: 'Roboto', sans-serif;
}

.GridColumnMiddle .contactForm button{
    border:solid 3px black;
}

.GridColumnRight{
    grid-area:column3;
    display: flex;
    flex-direction: column;
    background-color: #d81848;
}
.GridColumnRight h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.GridColumnRight .GridColumnRight-Filler{
    width: 100%;
}
.GridColumnRight .GridColumnRight-Filler img{
    width: 100%;
    height: 100%;
}
/*Rows for the three grid template*/
.TopRow{
    grid-area: row1;
    background-color: #d81848;
    display: flex;
    flex-flow: column wrap;
}
.MiddleRow{
    grid-area: row2;
    background-color: #303030;
    display: flex;
    flex-flow: column wrap;
}
.BottomRow{
    grid-area: row3;
    background-color: #d81848;
    display: flex;
    flex-flow: column wrap;
}
.ThreeRowGrid h3{
    padding-top: 0.5em;
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif
}
.PlanContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.biRowUp{
    grid-area: biRow1;
    background-color: #303030;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.biRowUp h1{
    color: white;
    padding: 1.5rem;
    font-family: 'Roboto',sans-serif;
}
.biRowDown{
    grid-area: biRow2;
    background-color: #d81848;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.biRowDown h1{
    color: white;
    padding: 1.5rem;
    font-family: 'Roboto',sans-serif;
}


/*cards for small horizontal profiles*/
.HorizontalCard{
    display: flex;
    flex-flow: row wrap;
    border: white 3px solid;
    margin: 1rem;
}
.HorizontalCard .HorizontalCard-Img{
    border: white;
    width: 150px;
}
.HorizontalCard .HorizontalCard-Img img{
    width: 100%;
    height: 100%;
}
.HorizontalCard .HorizontalCard-Body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 200px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2em;
    flex-grow: 1
}
/*Big cards For large profiles*/
.VerticalCard{
    padding: 1rem;
    display:flex;
    flex-flow: column nowrap;
    border: white 2px;
    justify-content: space-between;
    align-items: center;
}

.VerticalCard .VerticalCard-Img{
    border: #303030;
    width:300px;
}
.VerticalCard .VerticalCard-Img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: white 3px solid;
}
.VerticalCard .VerticalCard-Body{
    display: flex;
    flex-flow: column ;
    justify-content: flex-start;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1.5rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3rem;
    margin-top: 1rem;
}

.VerticalCard .VerticalCard-Body h1{
    margin-bottom: 1rem;
}

.VerticalCard .VerticalCard-Body ul li{
   list-style: none;
}

/*Event cards similar to horizontal might make them the same in the future*/
.eventCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

.eventCard .eventCard-Img{
    width: 50%;
    height: 80%;
}
.eventCard img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: white 3px solid;
}
.eventCard .eventCard-Body{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding-left: 2rem;
    font-family: 'Roboto',sans-serif;
    color: white;
}

/*plan card, this one is different becausee image has the text in it*/

.endurancePlanCard{
    height: 15em;
    width: 30%;
    display: inline-block;
    margin: 1em 8em 1em 8em;
    padding-top: 1em;
    background-image: url("../img/endurance2.jpeg");
    background-size: cover;
    border-radius: 3rem; 
}
.endurancePlanCard h4{
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    background-color: rgba(48, 12, 12, 0.5);
}
.endurancePlanCard p{
    color: white;
    text-align: center;
    padding-top: 1em;
    background-color: rgba(48, 12, 12, 0.5);
    white-space: normal;
}

.strengthPlanCard {
    height: 15em;
    width: 30%;
    display: inline-block;
    margin: 1em 8em 1em 8em;
    padding-top: 1em;
    background-image: url("../img/strength.jpeg");
    background-size: cover;
    border-radius: 3rem; 
}
.strengthPlanCard h4{
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    background-color: rgba(48, 12, 12, 0.5);
}
.strengthPlanCard p{
    color: white;
    text-align: center;
    padding-top: 1em;
    background-color: rgba(48, 12, 12, 0.5);
    white-space: normal;
}
.weightPlanCard{
    height: 15em;
    width: 30%;
    display: inline-block;
    margin: 1em 8em 1em 8em;
    padding-top: 1em;
    background-image: url("../img/weightloss.jpeg");
    background-size: cover;
    border-radius: 3rem; 
}
.weightPlanCard h4{
    color: white;
    text-align: center;
    font-size: large;
    margin-top: 1rem;
    background-color: rgba(48, 12, 12, 0.5);
}
.weightPlanCard p{
    color: white;
    text-align: center;
    padding-top: 1em;
    background-color: rgba(48, 12, 12, 0.5);
    white-space: normal;
}

.largeHorizontalCard{
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 1rem;
}
.largeHorizontalCard .largeHorizontalCard-Img {
    width: 20rem;
}
.largeHorizontalCard .largeHorizontalCard-Img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: white solid 3px;
}

.largeHorizontalCard .largeHorizontalCard-Text {
    width: 30rem;
}

.largeHorizontalCard .largeHorizontalCard-Text p{
    font-family: 'Roboto',sans-serif;
    color: white;
    font-size: larger;
}

/*need to find a better way to reduce all the styliing here*/
.biRowDown .largeHorizontalCard .largeHorizontalCard-Text p{
    color: black;
    font-family: 'Roboto',sans-serif;
    font-size:larger;
}
.biRowDown .largeHorizontalCard .largeHorizontalCard-Img img{
    border: #303030 solid 3px;
}
.biRowDown h1{
    color: #303030;
}

footer{
    grid-area: footer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #303030;
}

footer i{
    color: white;
    size: 70rem;
    padding: 0.1em;;
}
footer p{
    display: inline;
    padding: 2em;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: x-large;
    padding: 0;
}

footer .footer-phone{
    padding-top: 1rem;
    text-align: center;
    padding-left: 3rem;
}

footer .footer-adress{
    padding-top: 1rem;
    text-align: center;
    padding-left: 3rem;
}

footer .footer-socialMedia{
    padding-top: 1rem;
    text-align: center;
    padding-left: 3rem;
}

/*adding media queries for phone first it seems that I only need to change the grid layout*/
/*for mobile devices, pages with the three column grid will have to become rows */
@media screen and (max-width: 320px){
    .ThreeColumnGrid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "header header header header header header" 
        "banner banner banner banner banner banner"
        "column1 column1 column1 column1 column1 column1"
        "column2 column2 column2 column2 column2 column2"
        "column3 column3 column3 column3 column3 column3"
        "footer footer footer footer footer footer";
    }

    /*These cards will be vertical now*/
    .HorizontalCard{
        display: flex;
        flex-flow: column wrap;
        border: white 3px solid;
        margin: 1rem;
        justify-content: center;
        align-items: center;
    }
    .HorizontalCard .HorizontalCard-Img{
        border: white;
        width: 150px;
        margin-top: 1rem;
    }
    .HorizontalCard .HorizontalCard-Img img{
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        border: white 3px solid;
    }
    .HorizontalCard .HorizontalCard-Body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: 200px;
        color: white;
        font-family: 'Roboto', sans-serif;
        padding: 2em;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer{
        grid-area: footer;
        display: flex;
        flex-flow: column nowrap;
        background-color: #303030;
        text-align: center;
        justify-content: center;
    }
    footer p{
        display: inline;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-size: medium;
    }

    footer .footer-phone{
        text-align: center;
        padding: 0;
    }
    
    footer .footer-adress{
        text-align: center;
        padding: 0;
    }
    
    footer .footer-socialMedia{
        text-align: center;
        padding: 0;
    }
}