@use 'utilities' as c;

@mixin hover {
    &:hover {
       // transform: scale(1.05); /*removing this according to instructor it is distracting*/
        background-color: #663a41 !important;
    }
  }
  

.card {
    border: none;
    box-shadow: 5px 2px 2px c.$black-color;
    margin: 1.75rem !important; /*just to avoid card to over flow*/
    transition-timing-function: linear;
    transition: background-color 2s, scale 2s;
    .event-image{
        width: 100% !important;
        height: 100% !important;
    }
    @include hover;
    .card-body{
        @include hover;
    }
}


.mapCard {
    background: white;
    margin-top: 2rem;
    margin-bottom: 2rem;

    img{
        background: white;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

}

.coachCard{
    transition-timing-function: linear;
    transition: background-color 2s, scale 2s;
    .btn{
        background-color: rgb(172, 22, 22) !important;
    }
    @include hover
  }