.formColumnImg {
    background-image: url(../img/columnBanner.jpeg);
    background-size: cover;
}

.flex-column {
    h2{
        text-align: center;
      }
}
  
  .col-lg-4 {
    h2{
        text-align: center;
      }
  }
  
  .col-12{
    h3{
        text-align: center;
      } 
}
