@use 'utilities' as c;
footer{
  .row{
    width: 100%; /*if not 100 then it will not take all the available space in flex*/
    align-self: center !important;
  }
  p{
    &:hover{
      color: c.$red-color;
      transform: scale(1.03);
    }
  }
  i{
    &:hover{
      color: c.$red-color;
      transform: scale(1.03);
    }
  }
} 
