@use 'utilities' as c;

.GridBanner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 8rem;
    background-image: url(../img/gym.jpg);
    background-position: 100% 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: 3rem;
        margin: 0%;
        color: c.$red-color;
        text-shadow: -2px 0 c.$black-color;
    }
  }